html,
body {
  height: 100%;
}

body {
  color: #222;
  background: white;
  font: 100% system-ui;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #3862e3;
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  align-items: stretch;
  display: inline-flex;
}
.object {
  color: #569cd6;
}

.function {
  color: rgb(201 121 241);
}

.console-response {
  color: #969696;
  font-size: 24px;
}

.code {
  color: rgb(44, 111, 255);
}

.wiki {
  padding: 0 20px 20px 0;
  color: gray;
  align-self: flex-end;
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #569cd6;
  }
}
